# -------------------------
# Python ignores
# -------------------------
__pycache__/
*.pytest_cache
*.pyc
*.pyo
*.pyd
env/
venv/
_venv_/
*.log
logs/*
!logs/.gitkeep_
*.pem

# OS-specific
.DS_Store
Thumbs.db

# -------------------------
# Terraform ignores
# -------------------------
# Local .terraform directories
.terraform/
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Terraform plan files
*.tfplan

# Sensitive variable files
# *.tfvars
# *.tfvars.json

# Optional override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock files (optional)
*.terraform.lock.hcl

#--------------------------
# IDE and Backup Files
#--------------------------

# IDE/editor specific files
.vscode/
.idea/
*.iml

# Optional: ignore backup files
# *.bak
*.swp
# Environment files
.env
*.env

# Private keys
*.pem
*.key
*.crt
